---
title: Home
---


<div class="row margin-top">
  <div class="large-12 columns">
    <div class="panel-custom">
      <div class="row">
        <div class="small-6 columns">
          <h2><strong>Welcome to early-dance.de</strong></h2>
          <h3><em>Join the Early Dance Community !</em></h3>
          <ul>
            <li>Discover exciting balls, performances and classes around the world</li>
            <li>Get in touch with other dancers</li>
            <li>Promote your classes and performances</li>
          </ul>

          <a href="#" class="button large success">Sign up now</a>
        </div>
        <div class="small-6 columns polaroid-container">
          <img class="polaroid deg10 w80" src="http://flickholdr.com/300/200" /> 
          <img class="polaroid deg5 w80" src="http://flickholdr.com/320/210" /> 
        </div>
      </div>
    </div>
  </div>
</div>